---
import { Picture } from 'astro:assets';
import img from '~/assets/mountains-8314422.svg';
import MarkdownLayout from '~/layouts/MarkdownLayout.astro';
---

<MarkdownLayout title="About" description="About this site." currentNav="About">
	<Picture
		class="lg:float-right lg:ml-4 lg:w-2/5"
		src={img}
		formats={['avif', 'webp']}
		alt="mountains"
	/>
	<p>
		Hey friends, I'm here to tell you that the person writing this is some guy that goes by the name Olaf or something. Now, apparently I'm supposed to write something more here, but whenever I'm asked to tell something about myself I'm like an empty present being opened on Christmas morning. That is to say, nothing of interest comes out. As you can tell by the level of my similes, I'm not very skilled in the ways of the pen either. Why would someone like that create a blog you ask? I often find myself wondering the same thing.
	</p>
	<p>
		Yes, I'm sorry for the ESL writing you and my other two to three dear readers will have to deal with, めんご, but that is besides the point. I've been learning Japanese since 2023 and still have lots to learn. Sadly however, I lack the sagacity to continue treading the path towards a decent level and instead am giving into the allure of languages like Chinese. After that the completion of the CJK trio would only be one language away...
	</p>
	<p>
        I've tried to learn Japanese a few times before, each time not getting much further than learning how to read 愛上男 in hiragana, but
		I like to cope by thinking that such is likely how it goes for the average person wanting to learn a distant language on a whim. I am telling you this to make sure you know better than to expect veracity or anything of quality from me, but I hope some of you enjoy reading my slop anyway. plz don't leave 🥺
	</p>
	<p>
		Hey, you know how I'm, like, always trying to save the planet? Here's my chance. Hey, take a
		look at the earthlings. Goodbye! I was part of something special. Just my luck, no ice. You're a
		very talented young man, with your own clever thoughts and ideas. Do you need a manager?
	</p>
	<p>
		Jaguar shark! So tell me - does it really exist? This thing comes fully loaded. AM/FM radio,
		reclining bucket seats, and... power windows. Yes, Yes, without the oops! You're a very talented
		young man, with your own clever thoughts and ideas. Do you need a manager?
	</p>
	<p>
		Yes, Yes, without the oops! Do you have any idea how long it takes those cups to decompose.
		They're using our own satellites against us. And the clock is ticking. Do you have any idea how
		long it takes those cups to decompose. My dad once told me, laugh and the world laughs with you,
		Cry, and I'll give you something to cry about you little bastard!
	</p>
</MarkdownLayout>
