---
import { Picture } from 'astro:assets';
import img from '~/assets/undraw_dog_c7i6.svg';
import { SiteDescription, SiteTitle } from '~/config';
import MarkdownLayout from '~/layouts/MarkdownLayout.astro';
---

<MarkdownLayout
	title={SiteTitle}
	description={SiteDescription}
	hide={['title', 'comments']}
	currentNav="Home"
>
	<div class="flex flex-col items-center gap-4 xl:flex-row">
		<Picture class="lg:max-w-md" src={img} formats={['avif', 'webp']} alt="a dog" loading="eager" />
		<div>
			<h1>善くぞ来てくれました！</h1>
			<p>
				This is a blog mainly focused around learning Japanese, but will hopefully also include posts about Chinese and Korean in the future. These are some of the other things you may (or may not!) expect to see:
			</p>
			<ul class="list-disc">
				<li>
					Posts about the culture, languages and media of the CJK-sphere
				</li>
				<li>
					Misinformation and bad advice
				</li>
				<li>
					Sleeping</a>
				</li>
				<li>Anime & Light Novel reviews</li>
				<li>Rants & bad takes</li>
				<li>My lazy ass not updating the website</li>
			</ul>
		</div>
	</div>
</MarkdownLayout>
